<form [formGroup]="peopleform" class="content-form">
    <div class="grid w-full pb-3">

        <div class="flex flex-column gap-1 col-6 p-0 pr-3">
            <label>Nombres</label>
            <input [ngClass]="{
                    'ng-invalid': evaluateIfInvalid('Nombres')
                }" formControlName="Nombres" placeholder="Ingresar" pInputText id="Nombres" type="text" />
        </div>
        <div class="flex flex-column gap-1 col-6 p-0">
            <label>Apellidos</label>
            <input [ngClass]="{
                    'ng-invalid': evaluateIfInvalid('Apellidos')
                }" formControlName="Apellidos" placeholder="Ingresar" pInputText id="Apellidos" type="text" />
        </div>

    </div>

    <div class="grid w-full ">

        <div class="flex flex-column gap-1 col-4 p-0 pr-3">
            <label>Tipo de documento</label>
            <input [ngClass]="{
            'ng-invalid': evaluateIfInvalid('TipoIdentificacion')
        }" formControlName="TipoIdentificacion" placeholder="Ingresar" pInputText id="TipoIdentificacion"
                type="text" />
        </div>
        <div class="flex flex-column gap-1 col-4 p-0 pr-3">
            <label>Número de documento</label>
            <input [ngClass]="{
                'ng-invalid': evaluateIfInvalid('Identificacion')
            }" inputId="integeronly" formControlName="Identificacion" id="Identificacion" pInputText
                type="number" />
        </div>

        <div class="flex flex-column gap-1 col-4 p-0">
            <label>Email</label>
            <input [ngClass]="{
                'ng-invalid': evaluateIfInvalid('Email')
            }" formControlName="Email" placeholder="Ingresar" pInputText id="Email" type="text" />
        </div>

    </div>

    <div>

    </div>
        <div class="flex  flex-wrap col-12 justify-content-end gap-3">
        <p-button label="Cancelar" styleClass="mb-2 p-button-sm" class="button__secondary"
        (click)="limpiarFormulario()"></p-button>
        <p-button label="Guardar" (click)="enviarDatos()"  [disabled]="peopleform.invalid"></p-button>
  
    </div>

</form>