<div class="card">
    <div class="card">
        <h1 class="title">Personas</h1>
        <h5 class="subtitle">Listado de Personas</h5>

        <p-table
            #dtPaciente
            [value]="listPeople"
            dataKey="idPersona"
            [rows]="10"
            [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-sm"
            [paginator]="true"
            responsiveLayout="scroll"
            scrollDirection="both"
            [globalFilterFields]="[
                'email',
                'nombreCompleto',
                'identificacion',
            ]"
        >
            <ng-template pTemplate="caption">
                <div
                    class="flex justify-content-between flex-column sm:flex-row"
                >
                    <span class="ml-auto">
                        <p-button
                            class="flex aling-items-center"
                            (click)="crear()"
                        >
                            <div class="flex aling align-items-center">
                                <div class="plus-bg-white mr-2"></div>
                                Nuevo
                            </div>
                        </p-button>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-center align-items-center"
                        >     Tipo de identificación
                        
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-center align-items-center"
                        >
                        Numero de identificación
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-center align-items-center"
                        >
                        Nombre  
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div
                            class="flex justify-content-center align-items-center"
                        >
                        Email
                        </div>
                    </th>

                    
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr >
                    <td >
                        <div class="flex justify-content-center aling-items-center" >
                            {{ row.tipoIdentificacion }}
                        </div>
                    </td>
                    <td >
                        <div class="flex justify-content-center aling-items-center" >
                            {{ row.identificacion }}
                        </div>
                       
                    </td>
                    <td>
                        <div class="flex justify-content-center aling-items-center" >
                            {{ row.nombreCompleto }}
                        </div>
                    </td>
                    <td>
                         <div class="flex justify-content-center aling-items-center" >
                            {{ row.email }}
                        </div>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">Sin personas creadas.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-toast key="toastPeople"/>

